.notifications {
  position: fixed;
  right: 0px;
  padding-right: 35px;
  z-index: 999;
}

.notifications li{
  list-style: none;
  width: 400px;
  z-index: 999;
  text-align: center;
  padding: 40px 20px;
  margin: 20px 0;
  border-radius: 3px;
  background: #fff !important;
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}