
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/rangeslider.js/dist/rangeslider";


@import "binary";
@import "notifications";
@import "circle";

.width-32{
  width: 32px !important;
}

.signal-logo {
  max-width: 48px;
  top: 5px;
  position: absolute !important;
  right: 20px;
}

// Removed from front theme for video integration
// .intro-media{-webkit-animation:1.4s ease-in-out 0.2s showIntroMedia;animation:1.4s ease-in-out 0.2s showIntroMedia;-webkit-animation-fill-mode:both;animation-fill-mode:both}
// Removed from .intro-w.layout-v1 .intro-media
// -webkit-transform:perspective(1260px) rotateY(-20.2deg) rotateX(10.6deg) scale(1);transform:perspective(1260px) rotateY(-20.2deg) rotateX(10.6deg) scale(1)
